name: "Format Check"

on:
  push:
    branches:
      - 'master'
      - v10
    tags: '*'
  pull_request:

jobs:
  format-check:
    name: "Format Check"
    uses: "SciML/.github/.github/workflows/format-check.yml@v1"
